<a href="https://colab.research.google.com/github/youssefbourais0310/Machine_learning_regrission/blob/main/boston_data_sets(Random_Forest_Regressor_model).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#standard imports
import numpy as np 
import pandas as pd

In [2]:
#import Boston housing dataset
from sklearn.datasets import load_boston
boston = load_boston()
boston;

In [3]:
boston_df = pd.DataFrame ( boston["data"] , columns=boston ["feature_names"])
boston_df["target"] = pd.Series(boston["target"])
boston_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [4]:
#how many samples
len(boston_df)

506

In [5]:
#lets try the random forst regressor
from sklearn.ensemble import  RandomForestRegressor
from sklearn.model_selection import train_test_split

#setup random seed 
np.random.seed(42)

#creat the data
X=boston_df.drop("target",axis=1)
y=boston_df["target"]

#split into train and test sets
X_train , X_test , y_train , y_test = train_test_split( X , y , test_size=0.2)

#Instantiate Ridge model 
rf=RandomForestRegressor()
rf.fit(X_train , y_train)

#evaluate the Random Forest Regressor
rf.score(X_test,y_test)

0.873969014117403